<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
			<rule name="Redirect to https" stopProcessing="true">
				<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
						<action type="Redirect" url="https://irdesigneer.github.io/{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
			</rule>

			<rule name="renomeindex" patternSyntax="Wildcard">
				<match url="home"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="index.html"/>
			</rule>
      <rule name="renomeabout" patternSyntax="Wildcard">
				<match url="about"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="about.html"/>
			</rule>
      <rule name="renomemywork" patternSyntax="Wildcard">
				<match url="mywork"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="mywork.html"/>
			</rule>
      <rule name="renomecontact" patternSyntax="Wildcard">
				<match url="contact"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="contact.html"/>
			</rule>
        </rules>
    </rewrite>
  </system.webServer>
</configuration>